*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;

}
.main-container{
    background-image: url("Images/bg.jpg");
    height: 80vh;
    width: 100%;
    position: relative;

}
.main-container .box{
    height: 80vh;
    width: 100%;
    opacity: 0.55;
    position: absolute;
    top: 0;
    background-color: black;
}



nav img{
    width: 120px;
    height: 45px;
    

}
.nav-container{
   
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    align-items: center;
    margin: auto;
    z-index: 10;

}

nav button{
    z-index: 10;
    display: flex;
    align-items: flex-end;

}

.hero{
    font-family: Arial, Helvetica, sans-serif ;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    
}

.movie{
    font-weight: bold;
    font-size: 48px;
}

.second-info{
    font-weight: 500px;
    font-size: 21px;
}

.third-info{
    font-weight: 400 ;
    font-size:20px ;
}



.btn{

    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;

}

.hero input{

    padding: 10px 24px;
    font-size: 18px;
    border-radius: 4px;
    background: rgba(23, 23, 23, 0.2) ;
    font-weight: 700;
    color: lightslategray;

}

.Sign{
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;

}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50vw;
    margin:  0 auto;
    color: white;
}

.secImg{
    width: 30vw;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 10px;
}

.enjoy{
    font-size: 48px;
    font-weight: bolder;
}

.watch{
    font-size: 16px;
   
}

.faqbox{
    display: flex;
    background-color: gray;
    padding: 34px;
    justify-content:center ;
    width: 100vw;

}
faq i{
    color: black;
}
